.fifth {
	padding-top: 154px;
	padding-bottom: 80px;

	.container {
		@include flex(center, center, 0, column);
	}

	h3 {
		@include h3();
	}

	p {
		@include h3-subtitle();
	}
}

// <=1200px
@include max-screen($xl) {
	.fifth {
		padding-top: 154px;
		padding-bottom: 80px;

		.container {
			@include flex(center, center, 0, column);
		}

		h3 {
			@include h3();
		}

		p {
			@include h3-subtitle();
		}
	}
}
