.trigger {
	.container {
		display: grid;
		grid-template-rows: min-content 1fr;
		column-gap: 100px;
		row-gap: 24px;
	}
	.first {
		grid-template-columns: 7fr 4fr;
	}

	.second {
		grid-template-columns: 4fr 7fr;

		img {
			justify-self: flex-end;
		}
	}

	h3 {
		@include h3;
		margin-left: 65px;
		position: relative;

		&::before {
			content: '';
			top: 15px;
			left: -65px;
			position: absolute;
			background: $primary;
			width: 50px;
			height: 6px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}

	p {
		@include h3-subtitle();
		margin-left: 65px;
	}

	img {
		grid-row: span 2;
		width: 245px;
		height: 248px;
	}
}

// <=1200px
@include max-screen($xl) {
	.trigger {
		.container {
			column-gap: 95px;
			row-gap: 14px;
		}

		h3 {
			@include font(24px, 700, $secondary, 28px);

			&::before {
				top: 12px;
			}
		}

		p {
			@include font(16px, 400, $dark-blue, 24px);
		}
	}
}

// <=768px
@include max-screen($md) {
	.trigger {
		.container {
			column-gap: 20px;
			row-gap: 14px;
		}

		.first {
			grid-template-columns: 1fr max-content;
		}

		.second {
			grid-template-columns: max-content 1fr;
		}

		img {
			align-self: center;
			width: 173px;
			height: 175px;
		}
	}
}

// <=568px
@include max-screen($sm) {
	.trigger {
		.container {
			@include flex(center, flex-start);
			flex-direction: column;
		}

		.first {
			h3 {
				order: 2;
			}
			p {
				order: 3;
			}
		}
		h3 {
			@include font(18px, 700, $secondary, 22px);
			margin-bottom: 12px;

			&::before {
				top: 11px;
			}
		}

		p {
			@include font(14px, 400, $dark-blue, 22px);
		}

		img {
			align-self: center;
			width: 156px;
			height: 157px;
			margin-bottom: 22px;
		}
	}
}
