* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gotham pro', sans-serif;
	background: #fff;
	color: $secondary;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
	border: none;
	background: transparent;
}

// <=1200px
@include max-screen($xl) {
	h2 {
		@include font(36px, 700, $secondary, 34px);
	}

	h3 {
		@include font(24px, 700, $secondary, 30px);
	}
}
