.main-btn {
	height: max-content;
	width: 304px;
	@include font(16px, 600, white, 24px);
	background: $primary;
	padding: 17px 25px;
	border-radius: 8px;
	transition: border 0s, background 0.4s, color 0.4s, padding 0s;
}

// <=568px
@include max-screen($sm) {
	.main-btn {
		width: 100%;
	}
}

// >=1200px
@include min-screen($lg) {
	.main-btn {
		&:hover {
			border: 2px solid $primary;
			background: white;
			color: $primary;
			padding: 15px 23px;
		}
	}
}
