// Colors
$primary: #e84061;
$secondary: #2675d1;
$light-blue: #30a9f2;
$light-grey: #eef2f5;
$sky-blue: #a1dbf1;
$dark-blue: #3e4956;
$alt-bg: #f7f8fa;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
