main {
	margin-top: 10px;
	margin-bottom: 73px;

	.container {
		display: grid;
		grid-template-columns: 825px 1fr;
		grid-template-rows: min-content 1fr min-content;
		column-gap: 122px;
	}

	h1 {
		@include font(55px, 700, $secondary, 60px);
		margin-top: 24px;
	}

	p {
		@include font(20px, 400, $dark-blue, 32px);
		margin-top: 3px;
	}

	button {
		margin-top: 30px;
	}

	img {
		grid-row: span 3;
	}
}
