main {
	margin-top: 10px;
	margin-bottom: 80px;

	.container {
		display: grid;
		grid-template-columns: 825px 1fr;
		grid-template-rows: min-content min-content 1fr;
		column-gap: 122px;
	}

	h1 {
		@include h1;
		margin-top: 24px;

		span {
			display: none;
		}
	}

	p {
		@include font(20px, 400, $dark-blue, 32px);
		margin-top: 3px;
	}

	button {
		margin-top: 30px;
	}

	img {
		grid-row: span 3;
		width: 380px;
		height: 386px;
	}
}

@include max-screen($xxl) {
	main {
		margin-bottom: 40px;

		.container {
			grid-template-columns: 720px 1fr;
			column-gap: 65px;
		}

		h1 {
			font-size: 48px;
			line-height: 52px;
		}
	}
}

// <=1200
@include max-screen($xl) {
	main {
		margin-bottom: 50px;

		.container {
			grid-template-columns: 600px 1fr;
			column-gap: 0px;
		}

		h1 {
			font-size: 36px;
			line-height: 40px;
		}

		button {
			margin-top: 40px;
		}

		p {
			@include md-font();
			margin-top: 30px;
		}
	}
}

// <=992
@include max-screen($lg) {
	main {
		margin-bottom: 83px;

		.container {
			grid-template-columns: 1fr max-content;
		}

		img {
			width: 272px;
			height: 276px;
			align-self: flex-end;
		}

		h1 {
			font-size: 36px;
			line-height: 40px;

			br {
				display: none;
			}

			span {
				display: inline;
			}
		}

		button {
			margin-top: 40px;
			margin-bottom: 15px;
		}
		p {
			@include md-font();
			margin-top: 14px;
		}
	}
}

// <=768px
@include max-screen($md) {
	main {
		margin-top: 10px;
		margin-bottom: 80px;

		.container {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			column-gap: 122px;
		}

		h1 {
			margin-top: 64px;

			span {
				display: none;
			}
		}

		p {
			margin-top: 15px;
		}

		img {
			position: absolute;
			width: 162px;
			height: 164px;
			bottom: 0;
			right: 0;
		}
	}
}

// <=568px
@include max-screen($sm) {
	main {
		margin-top: 0px;
		margin-bottom: 80px;

		.container {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			column-gap: 122px;
		}

		h1 {
			margin-top: 50px;
			@include font(30px, 700, $secondary, 32px);

			br {
				display: inline;
			}
		}

		p {
			margin-top: 15px;
		}

		img {
			width: 94px;
			height: 93px;
			top: 0;
			bottom: 0;
			right: 0;
		}

		button {
			margin-top: 20px;
			margin-bottom: 0px;
		}
	}
}
