.seventh {
	padding: 170px 0;
	background: $light-grey;
	position: relative;
	z-index: 10;

	img {
		height: 100%;
	}

	.container {
		@include grid(1fr 1fr, min-content min-content);
		column-gap: 60px;
		row-gap: 50px;
	}

	h2 {
		@include h2(White);
		margin: 0;
		align-self: flex-end;
		grid-column: span 2;
		text-align: center;
	}
}

// <=1200px
@include max-screen($xl) {
	.seventh {
		.container {
			column-gap: 40px;
			row-gap: 30px;
		}

		h2 {
			@include font(30px, 700, white, 36px);
			align-self: flex-end;
			grid-column: span 2;
			text-align: center;
		}
	}
}
