.block-title {
	@include flex(center, center, 8px);
	@include h2;
	margin-bottom: 70px;
	text-align: center;
}

// <=1400px
@include max-screen($xxl) {
	.block-title {
		@include font(36px, 700, $secondary, 34px);
		margin-bottom: 50px;
	}
}

// <=1200px
@include max-screen($xl) {
	.block-title {
		@include font(36px, 700, $secondary, 34px);
		margin-bottom: 50px;
	}
}

// <=568px
@include max-screen($sm) {
	.block-title {
		@include font(24px, 700, $secondary, 22px);
		margin-bottom: 30px;
	}
}
