.sixth {
	.items {
		@include flex(space-between, flex-start, 30px);
		margin-bottom: 50px;
		width: 100%;
	}

	.item {
		@include grid(min-content 1fr min-content, min-content 1fr);
		column-gap: 15px;
		row-gap: 25px;
		padding: 20px;
		width: 100%;
		background: white;
		border-radius: 4px;
	}

	svg {
		width: 16px;
		height: 16px;
	}

	&__text {
		@include sm-font($dark-blue);
		grid-column: span 3;
	}

	&__name {
		@include md-font($secondary);
		align-self: center;
	}

	.rating {
		@include flex(center, center, 2px, column);
		@include sm-font($sky-blue);
	}
}

// <=1200px
@include max-screen($xl) {
	.sixth {
		.items {
			@include flex(space-between, flex-start, 15px);
		}
	}
}

// <=992px
@include max-screen($lg) {
	.sixth {
		.items {
			overflow: hidden;
			@include flex(space-between, flex-start, 30px);
			margin-bottom: 50px;
			width: 100%;
		}
	}
}
