.menu {
	&__list {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__link {
		display: flex;
		justify-content: center;
		font-weight: 500;
		font-size: 14px;
		color: $secondary;
		transition: 0.2s;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 4px;
			border-radius: 1px;
			background: #e84061;
			height: 25px;
			top: 0px;
			transition: 0.2s;
			transform: translateY(-35px);
		}

		&:hover {
			color: $primary;
		}
	}
	.menu__link:hover .menu__link::before {
		transform: translateY(-55px);
	}
}

// <=768px
@include max-screen($md) {
	.menu {
		display: none;
	}
}
