.menu {
	&__list {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__link {
		display: flex;
		justify-content: center;
		font-weight: 500;
		font-size: 14px;
		color: $secondary;
		transition: 0.2s;
		position: relative;
	}
}

// <=768px
@include max-screen($md) {
	.menu {
		display: none;
	}
}

// >=1200px
@include min-screen($lg) {
	.menu {
		&__link {
			&:hover {
				color: $primary;
			}

			&:hover .menu__link-span {
				transform: translateY(-35px);
			}
			&-span {
				display: block;
				position: absolute;
				width: 4px;
				border-radius: 2px;
				background: #e84061;
				height: 25px;
				top: 0px;
				transition: 0.2s;
				transform: translateY(-55px);
			}
		}
	}
}
