.third {
	.items {
		@include flex(space-between, flex-start);
		margin-bottom: 35px;
		padding: 0 100px;
		width: 100%;
	}
}

@include max-screen($xl) {
	.third {
		.items {
			@include flex(space-between, flex-start);
			margin-bottom: 35px;
			padding: 0;
		}
	}
}

// <=768px
@include max-screen($md) {
	.third {
		.items {
			@include flex(space-between, flex-start);
			flex-direction: column;
		}
	}
}

// <=568px
@include max-screen($sm) {
	.third {
		.items {
			@include flex(center, center);
			flex-direction: column;
		}
	}
}
