.third {
	padding-top: 200px;
	padding-bottom: 152px;

	background: top right no-repeat url(../images/third-bg.png);

	.container {
		@include flex;
		flex-direction: column;
	}
}

#third-middle {
	position: relative;

	&::before,
	&::after {
		content: '';
		align-self: flex-end;
		display: block;
		position: absolute;
		background: $sky-blue;
		width: 300px;
		height: 2px;
	}

	&::before {
		right: 110px;
	}

	&::after {
		left: 110px;
	}
}
